<style>
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap);
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, to {
    transform: translateZ(-2px) translateY(5px);
  }
  40% {
    transform: rotateY(180deg) translateZ(-2px) translateY(-35px);
  }
  60% {
    transform: translateZ(-2px) translateY(-25px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, to {
    transform: translateZ(-2px) translateY(5px);
  }
  40% {
    transform: rotateY(180deg) translateZ(-2px) translateY(-35px);
  }
  60% {
    transform: translateZ(-2px) translateY(-25px);
  }
}
body {
  background-color: #1a1a1a;
  background: radial-gradient(circle at center, #1a1546, #040411 40%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 95%;
  perspective: 1000px;
}

h3 {
  font-size: 3.5rem;
  line-height: 80%;
  transform: rotateX(0) rotateY(-25deg);
  text-transform: uppercase;
  width: 500px;
  text-align: center;
  color: #b9dfff;
  color: #fff;
  font-family: "Zefani";
  font-family: "Abril Fatface";
  margin: 3rem auto;
  position: relative;
  padding: 2rem 0 9rem;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff, 0 0 35px #228dff, 0 0 40px #228dff;
}
h3 span {
  display: inline-block;
}

.scroll-more {
  color: white;
  text-align: center;
  width: 450px;
  position: absolute;
  bottom: 8rem;
  left: calc(50% - 225px);
  margin: 0 auto;
  font-size: 25rem;
  opacity: 1;
  transition: opacity 0.3s ease;
  font-family: monospace;
  pointer-events: none;
  z-index: -1;
  transform-origin: center;
  -webkit-animation: bounce 3s cubic-bezier(0.37, 0, 0.21, 1.02) infinite, fonts 5s linear infinite;
  animation: bounce 3s cubic-bezier(0.37, 0, 0.21, 1.02) infinite, fonts 5s linear infinite;
}


/////////////////////////////////////////////////////////////////////////////////////////////

* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  position: relative;
  width: 1160px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 500px;
  margin: auto;
}
.container .box {
  position: relative;
  width: 275px;
  height: 275px;
  background: #000;
  transition: 0.5s;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 45px;
}
.container:hover .box {
  transform: rotateY(25deg);
}
.container .box:hover ~ .box {
  transform: rotateY(-25deg);
}
.container .box:hover {
  transform: rotateY(0deg) scale(1.25);
  z-index: 1;
  box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}
.container .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .box .imgBx:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,#f00,#000);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
}
.container .box:hover .imgBx:before {
  opacity: 1;
}
.container .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
  box-sizing: border-box;
}
.container .box .content h2 {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(200px);
  transition-delay: 0.3s;
}
.container .box:hover .content h2 {
  transform: translateY(0px);
}
.container .box .content p {
  color: #fff;
  transition: 0.5s;
  font-size: 14px;
  transform: translateY(200px);
  transition-delay: 0.4s;
}
.container .box:hover .content p {
  transform: translateY(0px);
}
.disabled {

  color: #F9FBFE;
}

</style>
<h3 >
 <span>Seninle geçirdiğim</span>
 <span> harika</span>
 <span> Günler için</span>
 <div class="scroll-more">↓</div>
 <span><a  style="color: #F9FBFE;" href="{% url 'postlar' %}" >dokun</a></span>
 </h3>